body
{
	background-color: lightgrey;
}

h1
{
	text-align: center;
}

p
{
	text-align: center;
}

div
{
	text-align: center;
}

#alpha
{
	padding: 30px;
	background-color: darkgreen;
	font-size: 20px;
	color: white;
	margin-top: 20px;
	margin-bottom: 20px;
}